*{margin: 0; padding: 0;}
body {
    background-color: #bababaae;
	width: 80vw;
    max-width: 1080px;
	margin: auto;
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
h4 {
    font-size: 1.8em;
    font-family: Georgia, serif;
    color: #dedcde;
    padding-bottom: 8px;
}
.tmdLogo {
    height: 200px;
    margin-bottom: -25px;
}
hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
.intro {
    padding: 8px;
    margin-bottom: 24px;
    text-align: center;
    color: #1b4860;
}
.intro a {
    text-decoration: none;
    color: #1b4860;
}
.intro a:hover {
    color: #002cbe;
    background-color: #dedcde;
}
.project {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0, 0.75);
    background-image: linear-gradient(to right, black, black, rgb(18, 18, 18), rgb(50, 50, 50));
    box-shadow: 4px 4px 4px rgba(32, 32, 32, 0.5);
    border-radius: 12px;
    height: 496px;
}
.project:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 55, 0.75);
}
.prev {
    color: rgba(255,255,255, 0.33);
    font-size: 40px;
    background-color: rgba(255,255,255, 0.25);
    padding: 228px 6px 228px 4px;
    border-radius: 12px 0px 0px 12px;
}
.prev:hover {
    color: rgba(255,255,255, 0.66);
    background-color: rgba(255,255,255, 0.5);
    cursor: pointer;
}
.next {
    color: rgba(255,255,255, 0.33);
    font-size: 40px;
    background-color: rgba(255,255,255, 0.25);
    padding: 228px 6px 228px 4px;
    border-radius: 0px 12px 12px 0px;
}
.next:hover {
    color: rgba(255,255,255, 0.66);
    background-color: rgba(255,255,255, 0.5);
    cursor: pointer;
}
.project video {
    flex: 1;
    padding: 8px 48px 8px 48px;
}
.description {
    flex: 2;
    margin-top: 48px;
    padding: 24px;
    color: #dedcde;
}
.description p {
    padding-top: 8px;
}
.description ul {
    padding-left: 24px;
}
.description img {
    width: 240px;
    padding-top: 16px;
}
.storeLink {
    text-align: center;
}